/*NAVBAR BOOTSTRAP*/
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@600&display=swap');
.navbar-nav .nav-link {
  font-family: 'Sofia Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(248, 226, 219);
  transition: all 0.3s;
}

.navbar-nav .nav-link:hover {
  
  text-shadow: 4px 4px 8px rgb(248, 226, 219);
}
.collapse.navbar-collapse {
  display: flex;
  justify-content: center;
}
.navbar-nav .nav-item {
  margin: 0 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

/* TITLE PRINCIPAL */

.container {
  font-family: 'Sofia Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  border-radius: 10px; /* adiciona bordas arredondadas */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); /* adiciona uma sombra */
  margin-top: 150px;
  margin-bottom: 250px;
}

#titulo-portfolio {
  font-family: 'Sofia Sans', sans-serif;
  order: 2;
  margin-left: 80px;
}

#foto {
  border-radius: 50% 50%; /* transforma a imagem em uma elipse */
  max-width: 350px;
  order: 1;
}

/* configuração para dispositivos mobile */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  #titulo-portfolio{
    margin-top: 35px;
  }
}
/* Codigo para Sobre*/

#container-sobre{
  font-family: 'Sofia Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
  border-radius: 50px; /* adiciona bordas arredondadas */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); /* adiciona uma sombra */
  margin-top: 60px;
  margin-bottom: 250px;

}
#sobrem {
  font-family: 'Sofia Sans', sans-serif;
  margin-left: 100px;
  
}

#sobrem h4{
  padding-bottom: 30px;
}
#sobrem p {
  width: 700px;

}

#habilidades {
  font-family: 'Sofia Sans', sans-serif;
  width: 600px;
  text-align: center;
}

#habilidades li{
  padding: 20px;
}
#habilidades h4{ 
  padding: 30px;
}

#habilidades ul li {
  display: inline-block;
  list-style: none;
}
#habilidades ul li img {
  width: 50px;
  height: 50px;
  
}

@media (max-width: 1399px) {
  #container-sobre {
    font-family: 'Sofia Sans', sans-serif;
    width: 100%;
    height: 0 auto;   
 }
  #sobrem {
    font-family: 'Sofia Sans', sans-serif;
    margin-left: 0;
    text-align: center; /* para remover o espaço à esquerda */
     /* para centralizar o texto */
  }
  #sobrem p {
    font-family: 'Sofia Sans', sans-serif;
    width: 100%;
    margin: 20px 1px 3px;
    text-align: center;
    
     /* para que o texto ocupe toda a largura da tela */
  }
}
/* Não mexer nesse container sobre*/

/*Container projetos*/
.title{
  font-family: 'Sofia Sans', sans-serif;
  text-align: center;
  margin-bottom: 100px;
  padding-top: 100px;    
}

#Projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 10px;
  justify-content: center;
  padding-left: 100px;
  margin-bottom: 200px;
  
}
@media (max-width: 900px) {
  #Projetos {
    display: grid;
    justify-content: center;
    padding-right: 100px;
  }
}

/* PROJETOS */

/* FORM*/
#container-contato{
  font-family: 'Sofia Sans', sans-serif;
  display: flex;
  align-items: center; /* centraliza os itens no eixo vertical */
  justify-content: center; /* centraliza os itens no eixo horizontal */
  width: 100%;
  height: 600px;
  margin-top: 500px;
  margin-bottom: 80px;
  border-radius: 30px; /* adiciona bordas arredondadas */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); /* adiciona uma sombra */
}
h2{
  text-align: center; /* centraliza o texto */
  padding: 30px;
}
form{
  margin: auto; /* centraliza o formulário na horizontal e vertical */
}

.form-col{
  display: flex;
  flex-direction: column; /* coloca os itens em coluna */
  margin:auto; /* centraliza o formulário na horizontal */
  width:100%;
  max-width: 300px;
  padding: 1em;
  margin: 1em;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); /* adiciona uma sombra */
}
label, input, textarea{
  margin: 0.5em 0; /* adiciona espaçamento entre os elementos */
}
input[name='name'], input[name='email']{
  width: 100%; /* aumenta o tamanho da caixa de input */
}
button[type='submit']{
  width: 100%; /* aumenta a largura do botão */
  height: 40px; /* aumenta a altura do botão */
}
#alert-box {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.hidden {
  padding: 20px;
  display: none;
}
/* Contatos */

#contato-info{
  font-family: 'Sofia Sans', sans-serif;
  text-align: center; /* centraliza o texto */
  margin: auto; /* centraliza o container na horizontal e vertical */
  margin-bottom: 50px;
  padding: 20px;
     
}

#contato-info a {
  color: black; /* define a cor do link como preto */
  text-decoration: none; /* remove a sublinhado padrão */
}
#contato-info a:active {
  color: rgb(189, 243, 175); /* define a cor do link como vermelho quando clicado */
}
#contato-info a{
  padding: 25px;
}
#contato-info i {
  padding-right: 10px; /* adiciona 10px de espaço à direita do ícone */
}